body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 50px;
    text-align: center;
    flex: 1;
}

.quadro {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.perfil-foto {
    display: block;
    max-width: 200px; 
    width: 100%;
    height: auto;
    border-radius: 50%; 
    margin: 20px auto; 
    border: 2px solid #ffffff; 
}

section#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

form label {
    align-self: flex-start;
    margin: 5px 0 5px 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.redes-sociais {
    margin-top: 15px;
    text-align: center;
}

.redes-sociais a {
    display: inline-block;
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #0056b3;
}

/* Galeria de Projetos */
section#projetos {
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.galeria-item {
    width: 200px;
    text-align: center;
}

.galeria-item a {
    display: block;
    text-decoration: none;
}

.galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s;
}

.galeria-item img:hover {
    transform: scale(1.05);
}

.galeria-item p {
    margin-top: 5px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}
